
# The Okto environment "sandbox" or "production"
OKTO_ENVIRONMENT=sandbox

# Get the below values from Okto Developer Dashboard. Learn how here- https://docsv2.okto.tech/docs/developer-admin-dashboard
OKTO_CLIENT_PRIVATE_KEY=
OKTO_CLIENT_SWA=


#optional: only needed if using google authenticate
GOOGLE_ID_TOKEN=
